/*!--
Made in Central PA
Site Typography Styles -- */

/*!--- Font Definitions --*/
$slab-serif: 'museo-slab', 'museo slab', serif;
$sans-serif: 'brandon-grotesque', 'brandon', 'helvetica', Arial, sans-serif;

$font-weight-light: 100;
$font-weight-regular: regular;
$font-weight-bold: bold;
